.admin-container {
    width: 80vw;
    height: 100vh;
    margin: 20px auto;
}

.admin-content {
    margin: 40px 0;
}

.admin-button {
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.button-container p {
    width: 75%;
}

/* Container for all requests */
.maintenence-requests {
    margin: 0 auto;
    width: 70%;
}

/* Individual requests */
.maintenence-request {
    background-color: #FFEF9E;
    padding: 20px 60px;
    margin: 40px 0;
    border-radius: 86px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.past-request {
    background-color: #ffb69e;
    padding: 20px 60px;
    margin: 40px 0;
    border-radius: 86px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}


p {
    font-size: 17px;
}

h3 {
    font-weight: bolder !important;
}

.request-buttons {
    margin-bottom: 10px;
    align-self: flex-end;
}

.request-date {
    color: #d90d32;
    font-weight: bold;
}

.request-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    font-weight: bold;
}

.request-header h3 {
    margin-bottom: 1px;
}

.request-header p {
    font-style: italic;
}
