.login_container {
    display: flex;
    margin: 0 auto;
    width: 400px;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.login {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-self: center;
    align-self: center;
}

.login>div {
    width: 100%;
}

.role-label {
    font-weight: 400;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-right: 6px;
}

.role-select {
    margin: 5px 0 10px 0;
}

#hide-captcha {
    position: fixed;
    z-index: -1;
}